<!-- Educacion -->

<div class="row">
    <h2 id="MenuEducacion"><b> Educación  </b></h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educación
        </button>
        <hr>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h5>{{Educacion.nombreE}}</h5>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td>{{Educacion.fechaE}}</td>
                    <td>{{Educacion.tareasE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-secondary" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>