<div class="row">
    <h1> Educación </h1>
    <div class="col-lg-1"></div>

    <div class="col-lg-11">
        
        <!-- Educación 1 -->
        <ul>
            <li>
                <h1> Educacion 1 </h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>

        <!-- Educación 2 -->
        <ul>
            <li>
                <h1> Educacion 2 </h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>

        <!-- Educación 3 -->
        <ul>
            <li>
                <h1> Educacion 3 </h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>
    </div>
</div>

