/* Formato del copyright */
.copyright {
    margin-left: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
}

/* Formato del Menu de Navegación */
.row {
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
}

.footer {
    width: 100%;
    max-width: 1200px;
}