<!-- Imagen de Perfil -->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img perfil.jpg" id="imgperfil" class="img-fluid">
    </div>

    <!-- Nombre y Apellido -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre"> Jacqueline Alexandra Gallo </h4>

    <!-- Cargo actual -->
        <h5> Full Stack Web Developer Jr.</h5>
        <span class="text-body-small inline t-black--light break-words"> Buenos Aires, Argentina </span>
    </div>

    <!-- Informacion de contacto -->

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <!-- Acerca de -->
            <br>
            <h1> Acerca de </h1>
            <h5> ¡Hola! Soy Jacqueline, tengo 25 años, y me desempeño como Analista de Convenios en una empresa dedicada al servicio de la salud.
                
            A la par, soy estudiante de programación a través de cursos en distintas instituciones, y de manera autodidacta. Actualmente, me encuentro especializandome en Desarrollo Web Full-Stack. ¿Mi próxima meta? Ingeniería en Sistemas en UTN.
            </h5>
        </span>

        <!-- Modal -->
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
    Información de Contacto
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Información de Contacto </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <h3> Perfil LinkedIn</h3>
            <h5 a href="linkedin.com/in/jacqueline-alexandra-gallo"> </h5>

            <h3> Email </h3>
            <h5> jacquelineagallo@gmai.com </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal"> Cerrar </button>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>


