<!-- Imagen de Perfil -->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img perfil.jpg" id="imgperfil" class="img-fluid">
    </div>

    <!-- Nombre y Apellido -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <h4 id="nombre"> Jacqueline Alexandra Gallo </h4>

    <!-- Cargo actual -->
        <h5> Full Stack Web Developer Jr.</h5>

        <!-- Lugar de residencia -->
        <span class="text-body-small inline t-black--light break-words" id="baa"> Buenos Aires, Argentina </span>
    </div>

    <!-- Acerca de -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <br>
        <span>
            <h2><b> Acerca de </b></h2>
            <h5> ¡Hola! Soy Jacqueline, tengo 25 años, y me desempeño como Analista de Convenios en una empresa dedicada al servicio de la salud.
                
            A la par, soy estudiante de programación a través de cursos en distintas instituciones, y de manera autodidacta. Actualmente, me encuentro especializandome en Desarrollo Web Full-Stack. ¿Mi próxima meta? Ingeniería en Sistemas en UTN.
            </h5>
        </span>

        <!-- Modal Información de Contacto -->
<a href="#openModal"> Información de contacto </a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close"> x </a>
		<br>
    <h3> Información de Contacto </h3>
    <hr>
    <br>
    <img src="../../../assets/envelope.svg" style="float:left; padding-right: 20px;" width="45" height="45" alt="email"/>
    <h5> Email </h5>
		<h6> jacquelineagallo@gmail.com </h6>
    <br>
	</div>
</div>


