.row {
    padding: 20px;
}

div {
    background-color: whitesmoke;
    text-align: left;
}

/*Ubicación Foto de Perfil y Optimización para Celulares*/
@media (min-width: 200px) {
    #imgperfil {
        position:absolute;
        width: 15%;
        border-radius: 100%;
        top: 330px;
    }
}

/*Formato Nombre*/
#nombre {
    font-weight: bold;
    margin-top: 10%;
}