<!-- Imagen de Perfil -->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img perfil.jpg" id="imgperfil" class="img-fluid">
    </div>

    <!-- Nombre y Apellido -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Jacqueline Alexandra Gallo </p>

        <!-- Cargo actual -->
        <p> Full Stack Web Developer Jr.</p>
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <!-- Acerca de -->
            <h1> Acerca de </h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, fuga. A culpa eveniet esse recusandae quam quod suscipit accusantium ipsa, exercitationem cum doloribus similique eum architecto deserunt dolores voluptate nihil?</p>
        </span>
    </div>
</div>
