<div class="row">
    <h2 id="MenuExperiencia"><b> Experiencia Laboral </b></h2>
    <div class="col-lg-1"></div>

    <div class="col-lg-12">

        <br>
        <!-- Experiencia Laboral 1 -->
        <ul>
            <img src="../../../assets/Logo Bayton.jpg" style="float:left; padding-right: 10px;" width="62" height="50"
                alt="bayton" />

            <h4><b> Bayton Group </b></h4>
            <h5> Data Entry | Elecciones Legislativas 2021</h5>
            <h6 id="fecha"> oct. 2021 - nov. 2021 </h6>
            <p id="descripcion"> Filtrado, análisis y carga masiva de datos al sistema con motivo de las elecciones
                legislativas. </p>

            <br>

            <h5 id="exp2"> Data Entry | Elecciones Legislativas PASO 2021</h5>
            <h6 id="fecha"> ago. 2021 - sept. 2021 </h6>
            <p id="descripcion"> Filtrado, análisis y carga masiva de datos al sistema con motivo de las elecciones
                legislativas PASO. </p>
        </ul>
        <hr>

        <!-- Experiencia Laboral 2 -->
        <ul>
            <img src="../../../assets/Logo Manpower.jpg" style="float:left; padding-right: 10px;" width="62" height="50"
                alt="manpower" />

            <h4><b> Manpower Argentina </b></h4>
            <h5> Data Entry | Elecciones Legislativas PASO 2017</h5>
            <h6 id="fecha"> jul. 2017 - ago. 2017 </h6>
            <p id="descripcion"> Filtrado, análisis y carga masiva de datos al sistema con motivo de las elecciones
                legislativas PASO. </p>

            <br>

            <h5 id="exp2"> Data Entry | Elecciones Presidenciales 2015 </h5>
            <h6 id="fecha"> sept. 2015 - nov. 2015 </h6>
            <p id="descripcion"> Filtrado, análisis y carga masiva de datos al sistema con motivo de las elecciones
                presidenciales. </p>
        </ul>
    </div>
</div>