<div class="row">
    <h1> Experiencia Laboral </h1>
    <div class="col-lg-1"></div>

    <div class="col-lg-11">
        
        <br>
        <!-- Experiencia Laboral 1 -->
        <ul>
            <li>
                <h2> Trabajo 1 </h2>
                <h3>(years)</h3>
            </li>
            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>
        <br>

        <!-- Experiencia Laboral 2 -->
        <ul>
            <li>
                <h2> Trabajo 2 </h2>
                <h3>(years)</h3>
            </li>
            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>
        <br>

        <!-- Experiencia Laboral 3 -->
        <ul>
            <li>
                <h2> Trabajo 3 </h2>
                <h3>(years)</h3>
            </li>
            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis corporis alias consequatur laboriosam facilis porro! Eos, repellat rem. Odit totam magni officia, ut deserunt laboriosam harum ipsum mollitia illo?</p>
        </ul>
        <br>
    </div>
</div>
