<!-- Experiencia Cursos -->

<div class="row">
    <h2 id="MenuCursos"><b> Cursos </b></h2>
    <div class="col-lg-1"></div>


    <div class="col-lg-12">
        <br>
        <!-- Curso 1 -->
        <ul>
            <img src="../../../assets/Logo BAOC.jpg" style="float:left; padding-right: 10px;" width="62" height="50"
                alt="baoc" />

            <h4><b> Buenos Aires Open Centre </b></h4>
            <h5> First Certificate In English (FCE) </h5>
            <h6 id="fecha"> dic. 2017 </h6>
            <p id="descripcion"> Titulación Grade B (Level B2) Overall Score 175 </p>
        </ul>
        <hr>
        <!-- Curso 2 -->
        <ul>
            <img src="../../../assets/Logo Cambridge.jpg" style="float:left; padding-right: 10px;" width="62"
                height="50" alt="cambridge" />

            <h4><b> Instituto Cambridge </b></h4>
            <h5> Curso de Estudios Superiores de Inglés </h5>
            <h6 id="fecha"> mar. 210 - dic. 2015 </h6>
        </ul>
    </div>