<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logo-AP">
        </div>

        <div class="redes">
            <div>
                <!-- Instagram -->
                <a href="https://www.instagram.com/jackieegallo/?hl=es"><img src="../../../assets/instagram.png"
                        id="instagram"></a>
                <!-- Facebook -->
                <a href="https://www.facebook.com/Jackiee.Gallo/"><img src="../../../assets/facebook.png"
                        id="facebook"></a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/in/jacqueline-alexandra-gallo/"><img
                        src="../../../assets/linkedin.png" id="linkedin"></a>
                <!-- GitHub -->
                <a href="https://github.com/JacquelineAG"><img src="../../../assets/github.png" id="github"></a>
                <!-- Discord -->
                <a href="https://discordapp.com/users/EstaNoEsChaki#9607"><img src="../../../assets/Discord.png"
                        id="discord"></a>

                <!-- Button LOGIN-->
                <button type="button" class="btn btn-outline-light"> LOGIN </button>
            </div>
        </div>
    </div>
</div>