.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 1em;
}

#logo-AP{
    margin-left: 30px;
    width: 160px;
}

button {
    margin-right: 20px;
}

img {
    width: 30px;
}

/* Optimización para Celulares */

@media (max-width: 200px) {
    .container {
        flex-direction: row;
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Separacion íconos */

#instagram {
    margin-right: 10px;
}

#facebook {
    margin-right: 10px;
}

#github {
    margin-right: 10px;
}

#linkedin {
    margin-right: 10px;
}

#twitter {
    margin-right: 20px;
}