.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ubicación iconos de Redes Sociales */
.redes {
    margin-right: 1em;
}

/* Efectos sobre ícono */
#instagram:hover {
    opacity: 0.4;
}

#facebook:hover {
    opacity: 0.4;
}

#linkedin:hover {
    opacity: 0.4;
}

#github:hover {
    opacity: 0.4;
}

#discord:hover {
    opacity: 0.4;
}

/* Ubicación Logo AP */
#logo-AP {
    margin-left: 30px;
    width: 160px;
}

/* Ubicación Login btn */
button {
    margin-right: 20px;
}

img {
    width: 30px;
}

/* Optimización Celular */

@media (max-width: 200px) {
    .container {
        flex-direction: row;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Separacion íconos */

#instagram {
    margin-right: 10px;
}

#facebook {
    margin-right: 10px;
}

#linkedin {
    margin-right: 10px;
}

#github {
    margin-right: 10px;
}

#discord {
    margin-right: 30px;
}