<body>
<div class="code-area">
    <span style="color: black;font-style:italic;">
      // 404 Oh no! No hay nada aquí (aún...)
    </span>
    <span>
      <span style="color:#d65562;">
        if
      </span>
        (<span style="color:#b44593;">!</span><span style="font-style: italic;color:#bdbdbd;">found</span>)
    </span>
    <span>
      <span style="padding-left: 15px;color:#dd3675">
         <i style="width: 10px;display:inline-block"></i>throw
      </span>
      <span>
        (<span style="color: #ee7724">"(╯°□°)╯︵ ┻━┻"</span>);
      </span>
        <span style="display:block">}</span>
        <span style="color: black;font-style:italic;">
            // <a href="/"> Volver al inicio!</a>
        </span>
    </span>
  </div>
</body>
  