<div class="row">
    <h2><b> Educación </b></h2>
    <div class="col-lg-1"></div>
    

    <div class="col-lg-12">
        <br>
        <!-- Educación 1 -->
        <ul>
                <img src="../../../assets/Logo EducacionIT.jpg" style="float:left; padding-right: 10px;" width="62" height="50" alt="educacionIT"/>

                <h4><b> Educación IT </b></h4>
                <h5> Software Tester QA </h5>
                <h6 id="fecha"> ene. 2022 - feb. 2022 </h6>
            <p id="descripcion"> Incluye conocimientos básicos de Selenium IDE, Jira y JMeter
                SCRUM
                KPI e informes </p>
        </ul>
<hr>
        <!-- Educación 2 -->
        <br>
        <ul>
            <img src="../../../assets/Logo GoogleActivate.jpg" style="float:left; padding-right: 10px;" width="62" height="50" alt="googleactivate"/>

            <h4><b> Google Activate </b></h4>
            <h5> Desarrollo de Apps Móviles </h5>
            <h6 id="fecha"> ene. 2022 - ene. 2022 </h6>
    </ul>
<hr> 
        <!-- Educación 3 -->
        <br>
        <ul>
            <img src="../../../assets/Logo GoogleActivate.jpg" style="float:left; padding-right: 10px;" width="62" height="50" alt="googleactivate"/>

            <h4><b> Google Activate </b></h4>
            <h5> Introducción al Desarrollo Web: HTML y CSS </h5>
            <h6 id="fecha"> ene. 2022 - ene. 2022 </h6>
    </ul>
<hr>
            <!-- Educación 4 -->

            <ul>
                <img src="../../../assets/Logo ArgProg.jpg" style="float:left; padding-right: 10px;" width="62" height="50" alt="argprog"/>
    
                <h4><b> Argentina Programa </b></h4>
                <h5> #YoProgramo | Curso de Programación Web Full-Stack </h5>
                <h6 id="fecha"> feb. 2022 - ago. 2022 
                </h6>
                <p id="descripcion"> Introducción al desarrollo web
                    Front End (HTML, CSS, Bootstrap, TypeScrypt, Angular, Javascript)
                    Back End (MySQL, Java, Spring Boot, Apache Tomcat)
                    
                    GIT
                    GitHub
                    SCRUM
                    
                    Certificación conjunta del Ministerio de Desarrollo Productivo, la Cámara Argentina de la Industria de Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI). </p>
        </ul>
<hr>
            <!-- Educación 5 -->
            <br>
            <ul>
                <img src="../../../assets/Logo ArgProg.jpg" style="float:left; padding-right: 10px;" width="62" height="50" alt="argprog"/>
    
                <h4><b> Argentina Programa </b></h4>
                <h5> #SéProgramar | Curso de Introducción a la Programación </h5>
                <h6 id="fecha"> oct. 2021 - dic. 2021 </h6>
                <p id="descripcion"> Fundamentos de la Programación (Gobstones)
                    Programación Imperativa (JavaScript)
                    Programación con objetos (Ruby)
                    
                    Certificación conjunta del Ministerio de Desarrollo Productivo y la Cámara Argentina de la Industria de Software (CESSI). </p>
        </ul>
    </div>
</div>

