<!-- Idiomas -->

<div class="row">
    <h2><b> Idiomas </b></h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoidi" *ngIf="isLogged">
            Nuevo Idioma
        </button>
        <hr>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Idioma of idioma">
                    <td>
                        <h5>{{Idioma.nombreE}}</h5>
                    </td>
                    <td>{{Idioma.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-secondary" routerLink="/editidi/{{Idioma.id}}">
                        <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="delete(Idioma.id)">
                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>