<!-- Texto del Footer -->
<div class="row">

<footer>
    <div class="box">
        <div class="menu" >
            <a href="#MenuAcercaDe" title="Ir a Acerca De" style="color:white; text-decoration: none;"> Acerca De </a>

            <a href="#MenuExperiencia" title="Ir a Experiencia" style="color:white; text-decoration: none;"> Experiencia </a>

            <a href="#MenuEducacion" title="Ir a Educación" style="color:white; text-decoration: none;"> Educación </a> 

            <a href="#MenuCursos" title="Ir a Cursos" style="color:white; text-decoration: none;"> Cursos </a>

            <a href="#MenuIdiomas" title="Ir a Idiomas" style="color:white; text-decoration: none;"> Idiomas </a>

            <a href="#MenuHardSkills" title="Ir a Hard Skills" style="color:white; text-decoration: none;"> Hard Skills </a>

            <a href="#MenuSoftSkills" title="Ir a Soft Skills " style="color:white; text-decoration: none;"> Soft Skills </a>

            <a href="#MenuProyectos" title="Ir a Proyectos" style="color:white; text-decoration: none;"> Proyectos </a>

            <a href="#arriba" title="Ir Arriba" style="color:white; text-decoration: none;"> Ir arriba </a>   
        </div>
    </div>

    <div class="copyright">
        <small> Argentina Programa © 2022  | Creado con ❤ por <b> Jacqueline Gallo </b> | Buenos Aires, Argentina 
        </small>
    </div>

</footer>
</div>


