<footer>
    <div class="row">
        <div class="col-12 col-md-4 mb-6 py-4">
            <h5> Sobre Mi </h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#MenuAcercaDe" class="nav-link p-0 text-muted"> Acerca De </a></li>
                <li class="nav-item mb-2"><a href="#MenuExperiencia" class="nav-link p-0 text-muted"> Experiencia
                        Laboral </a></li>
            </ul>
        </div>

        <div class="col-12 col-md-4 mb-6 py-4">
            <h5> Formación Académica </h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#MenuEducacion" class="nav-link p-0 text-muted"> Educación </a></li>
                <li class="nav-item mb-2"><a href="#MenuCursos" class="nav-link p-0 text-muted"> Cursos </a></li>
                <li class="nav-item mb-2"><a href="#MenuIdiomas" class="nav-link p-0 text-muted"> Idiomas </a></li>
            </ul>
        </div>

        <div class="col-12 col-md-4 mb-6 py-4">
            <h5> Skills & Proyectos </h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#MenuHardSkills" class="nav-link p-0 text-muted"> Hard Skills </a>
                </li>
                <li class="nav-item mb-2"><a href="#MenuSoftSkills" class="nav-link p-0 text-muted"> Soft Skills </a>
                </li>
                <li class="nav-item mb-2"><a href="#MenuProyectos" class="nav-link p-0 text-muted"> Proyectos </a></li>
            </ul>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-2">
            <p> Argentina Programa © 2022 | Creado con ❤ por <b> Jacqueline Gallo </b> | Buenos Aires, Argentina </p>
        </div>
    </div>
</footer>