<div class="row">
    <h1> Hard & Soft Skills </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- Angular -->
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'Microsoft Office'"
            [titleFontSize]="'18'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- HTML5 -->
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML5'"
            [titleFontSize]="'20'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- CSS -->
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'20'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- GitHub -->
        <circle-progress
            [percent]="55"
            [radius]="100"
            [showUnits]="false"
            [title]="'GitHub'"
            [titleFontSize]="'20'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- JavaScript -->
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleFontSize]="'20'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- Trabajo en Equipo -->
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Trabajo en Equipo'"
            [titleFontSize]="'18'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>
