<div class="row">
    <h2 id="MenuHardSkills"><b> Hard Skills </b></h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- Angular -->
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [title]="'Angular'"
            [titleFontSize]="'15'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- HTML y CSS -->
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML y CSS'"
            [titleFontSize]="'15'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <!-- JavaScript -->
        <circle-progress
            [percent]="60"
            [radius]="80"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleFontSize]="'15'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div> 

    <div class="row">
    <h2 id="MenuSoftSkills"><b> Soft Skills </b></h2>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <br>

        <!-- Trabajo en Equipo -->
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'Trabajo en Equipo'"
            [titleFontSize]="'13'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <br>

        <!-- Proactividad -->
        <circle-progress
            [percent]="95"
            [radius]="80"
            [showUnits]="false"
            [title]="'Proactividad'"
            [titleFontSize]="'13'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <br>
            <!-- Liderazgo -->
            <circle-progress
            [percent]="95"
            [radius]="80"
            [showUnits]="false"
            [title]="'Liderazgo'"
            [titleFontSize]="'13'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#dc3545'"
            [innerStrokeColor]="'#f1948a'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    
</div>