.row {
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 20px;
}

.proyectointegrador {
    display:inline-block;
    text-align: justify;
}

#fecha {
    color: grey;
}

#listaTI {
    margin-left: 50px;
}