<div class="row">
    <h1> Proyectos </h1>
    <div class="col-lg-1"></div>
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-11 col-lg-11 parte1">

        <!-- Proyecto -->
            <div>
                <h1> Trabajo Integrador </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quos, vero provident ad, molestiae maiores similique in inventore minima iste neque eius aliquam minus laudantium, explicabo temporibus quae consequatur fugit?</p>
            </div> 
        </div>
    </div>
</div>
