<div class="row">
    <h2><b> Proyectos </b></h2>
    <div class="col-lg-1"></div>

    <div class="col-sm-12 col-md-11 col-lg-11 proyectointegrador">

    <!-- Proyecto -->
        <br>
        <ul>
            <h4><b> Trabajo Integrador </b></h4>
            <h5> Argentina Programa </h5>
            <h6 id="fecha"> ago. 2022 </h6>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, veniam cum modi, amet quo qui earum inventore magni quibusdam eos iste recusandae ipsa laborum repudiandae labore sit adipisci, repellat dolores.</p>
        <br>
        </ul>
        <br> 
    </div>
</div>
