<div class="row">
    <h2><b> Idiomas </b></h2>
    <div class="col-lg-1"></div>
    

    <div class="col-lg-12">
        <br>
        <!-- Idioma 1 -->
        <ul>
            <h4><b> Español </b></h4>
            <h5 id="competencia"> Competencia bilingüe o nativa </h5>
        </ul>
<hr>
        <!-- Idioma 2 -->
        <ul>
            <h4><b> Inglés </b></h4>
            <h5 id="competencia"> Competencia profesional completa </h5>
    </ul>
<hr>
        <!-- Idioma 2 -->
        <ul>
            <h4><b> Italiano </b></h4>
            <h5 id="competencia"> Competencia básica limitada </h5>
            <br>
    </ul>
</div>